body {
    text-align: center;
    background: #353535;
    color: #8B8B8B;
    font-family:Arial, Helvetica, sans-serif;
}

.content {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    padding-top: 60px;
}

.content h1 {
    color: #ffffff;
    font-size: 3em;
}

.content p {
    font-size: 1em;
    padding-top: 0;
    margin: 0;
}

.images {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-left: 0;
    padding-right: 150px;
}

.images a {
    margin: 0 5px;
}

.moon {
    padding-top: 75px;
}

img {
    max-width: 40%;
}